VITE_SUPABASE_URL=https://svgchvbtqyztikifckle.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2Z2NodmJ0cXl6dGlraWZja2xlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDkxODUsImV4cCI6MjA4ODkyNTE4NX0.ueZsYkMUXXvw8B9tnQ1SR7Qem3iTTqdR5jQzx2lWtIg
